body {
    position: relative;
    background-color: #F2F2F2;
}

/* Header */
#section1 {
  color: #242424;
  text-align: center;
  background-image: url("../images/background.jpg");
  max-height: 200px;
  padding-top: 60px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}

#section1, #section3, #section41, #section42 {
  padding-top:50px;
  height:500px;
}

#section3 {
  color: #fff;
  background-color: #ff9800;
}

#section41 {
  color: #fff;
  background-color: #00bcd4;
}

#section42 {
  color: #fff;
  background-color: #009688;
}

/* Footer*/
body{background-color: #fff;}

.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon li{
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon a {
  background: rgba(255, 255, 255, 0.85); /* social icon background color */
  color: #000; /* social icon color */
}

.social-icon a:hover {
  background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
  color: #fff; /* social icon hover color */
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 5px;
  width: 100%;
  height: 60px;
  background-color: #000;
}

/* imagen carta*/
.imagenCarta {
  width: 100%;
  height: 658px;
}

.texto {
  padding: 60px 110px;
  text-align: justify;
}

.ultimo {
  text-align: right;
  font-size: 18px;
}

.paraNormal {
  height: 400px;
  width: 260px;
  float: left;
  margin: 20px 30px 30px 0px;
}

.negro {
  height: 540px;
  width: 100%;
}

.negro {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: right;
  color: #e3e3e3;
  height: 658px;
  padding: 260px 100px 0px 0px;
  position: absolute;
  z-index: 2;
}

.botonSig {
  padding-right: 83%;
}

.container p {
  padding-top: 15px;
  float: left;
}

.gatos {
  float: left;
  margin: 70px;
}

.texto2 {
  margin: 400px 0px 0px 520px;
  position: absolute;
  z-index: 2;
}

#video_background {
	width: 85%;
}

#yt {
  padding-left: 20%;
}

.gris {
  background-color: #0f0f0f;
  padding-left: 40px;
  padding-top: 200px;
  font-size: 16px;
  color: white;
  width: 405px;
  height: 645px;
  left: 70%;
  position: absolute;
  z-index: 4;
}

.negro2 {
  width: 100%;
  height: 646px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 460px 20px 0px 0px;
  position: absolute;
  z-index: 3;
}

#footer2{
  margin-bottom: 2000px;
}

.texto img, .venneno {
  float: right;
  margin: 20px;
}

.venneno {
  width: 40%;
}

#calcular, #limpiar {
  float:left;
  margin: 20px;
}
